/* src/components/header.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: #fff000;
    color: rgb(15, 1, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 40px; /* Adjust the size of the logo */
    margin-right: 10px; /* Adds space between the logo and the text */
}

.logo a {
    color: rgb(11, 6, 6);
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: rgb(13, 4, 4);
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #ffdd57;
}
